from src.book_service import BookService
from src.member_service import MemberService
from src.borrow_service import BorrowService 

class MenuController:
    def init(self):
        self.book_service = BookService()
        self.member_service = MemberService()
        # 2. BorrowService'e diğer servisleri parametre olarak gönderiyoruz
        self.borrow_service = BorrowService(self.book_service, self.member_service)

    def show_menu(self):
        while True:
            print("\n--- 📚 KÜTÜPHANE OTOMASYONU ---")
            print("1- Kitap Ekle / Listele")
            print("2- Üye Ekle / Listele")
            print("3- Kitap Ödünç Al") # 3. Yeni seçenek
            print("0- Çıkış")

            secim = input("\nSeçiminiz: ")

            if secim == "1":
                # Kitap alt menüsü veya direkt metodlar
                self.book_service.list_books()
            elif secim == "2":
                self.member_service.list_members()
            elif secim == "3":
                self.borrow_service.borrow_book() # 4. Metodu çağır
            elif secim == "0":
                break